*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: antiquewhite;
}
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    transition: cubic-bezier(0.86, 0, 0.07, 1);
    
}
.card{
width: 80px;
border-radius: 50px;
box-shadow: 0px 10px 30px black;
}
.icon{
    background-color: aquamarine;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.description{
    display: flex;
    background-size: cover;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
    width: 520px;
    transform: translateY(30px);
    transition-delay:.3s ;
    transition: all .3s ease;
}
.description p{
    color: bisque;
    padding-top: 15px;
}
.description h4{
    text-transform: uppercase;
}
input{
    display: none;
    
}